@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
  --blue:hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue:hsl(209, 33%, 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
}

.container {
  margin-top: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.pinglogo {
 margin-bottom: 50px;
}


.illustration {
  padding-top: 50px;
}

.illustration img {

  width: auto;
  height: 200px;
}

.launching {
}

.launching h2 {
  color: var(--gray);
  font-weight: 400;
}

.launching span {
font-weight: 700;
color: black;
}

.launching p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}

.emailnotify {
  display: flex;
  margin-top: 20px;
}

.emailnotify .inputemail {
  border-radius: 100px;
  padding: 10px;
}

.emailnotify .notifybutton {
  border-radius: 90px;
  border-color: var(--blue);
  padding: 10px 30px 10px 30px;
  background-color: var(--blue);
  color: white;
  margin-left: 10px;
  cursor: pointer;
}

footer {
  padding-top: 30px;
  color: var(--gray);
  font-size: 15px;
}